<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>

{{#if name}}
  <h1>{{name}}</h1>
{{else}}
  <h1>API Reference</h1>
{{/if}}

  <ul class="api-listing">
  {{#each meta}}
    <li class="api">
      <h2>{{name}}</h2>
      <ul class="params">
      {{#each params}}
        <li>
          <h3 class="name">{{name}}</h3>
          <h4 class="type">{{type}}</h4>
          <p class="description">{{description}}</p>
        </li>
      {{/each}}
      </ul>
      {{#if return}}
        <div class="return">
          <h3 class="type">{{return.type}}</h3>
        {{#if return.description}}
          <p class="description">{{return.description}}</p>
        {{/if}}
        </div>
      {{/if}}
    </li>
  {{/each}}
  </ul>

</body>
</html>
